<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="thymeleaf/layouts/drill_layout" lang="ko">
<!--
#####################################################################################################
#    @author  stone
#    @since   2020. 12. 29.
#    @version 1.0.0
#    @Description : web-drill-main
#####################################################################################################
-->

<!-- page title -->
<th:block layout:fragment="title">
    <title>Web Drill Home</title>
</th:block>

<!-- custom css -->
<th:block layout:fragment="css">
    <style th:inline="text">
    </style>
</th:block>

<!-- custom top js -->
<th:block layout:fragment="topScript">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let thisPage = {};
        thisPage['ctxPath'] = /*[[@{/}]]*/ '/';
        console.log("thisPage", thisPage);
        /*]]>*/
    </script>
</th:block>

<!-- Contents div -->
<div id="contents" layout:fragment="contents">
    <br/>
    <div class="row mb-2">
        <!-- card -->
        <div class="col-md-4">
            <div class="card flex-md-row mb-4 shadow-sm h-md-230">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Alert Modal!</strong>
                    <h3 class="mb-0">
                        <span>Alert Modal!</span>
                    </h3>
                    <button type="button" id="alertEvent" class="btn btn-default b-delete">
                        <p>Alert Modal!</p>
                    </button>
                </div>
            </div>
        </div>
        <!-- card -->
        <!-- card -->
        <div class="col-md-4">
            <div class="card flex-md-row mb-4 shadow-sm h-md-230">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Error Test #1</strong>
                    <h3 class="mb-0">
                        <span>Error Test #1</span>
                    </h3>
                    <button type="button" id="errorTest1" class="btn btn-default b-delete">
                        <p>Error Test #1</p>
                    </button>
                </div>
            </div>
        </div>
        <!-- card -->
        <div class="col-md-4">
            <div class="card flex-md-row mb-4 shadow-sm h-md-230">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Error Test #2</strong>
                    <h3 class="mb-0">
                        <span>Error Test #2</span>
                    </h3>
                    <button type="button" id="errorTest2" class="btn btn-default b-delete">
                        <p>Error Test #2</p>
                    </button>
                </div>
            </div>
        </div>
        <!-- card -->
        <!-- card -->
        <div class="col-md-4">
            <div class="card flex-md-row mb-4 shadow-sm h-md-230">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">본인인증</strong>
                    <h3 class="mb-0">
                        <span>본인인증</span>
                    </h3>
                    <button type="button" id="nice-identify" class="btn btn-default b-delete">
                        <p>본인인증</p>
                    </button>
                </div>
            </div>
        </div>
        <!-- card -->
        <form name="form_chk" method="post">
            <input type="hidden" name="m" value="checkplusSerivce"><!-- 필수 데이타로, 누락하시면 안됩니다. -->
            <input type="hidden" name="EncodeData" value="AgAFQkMyODPKKwX891PG60DegItlJFrNyLHyezcJaaiRUDnciaGRMpad1cSi2Gb9YSvL3yQ7CLIeGKLWIVfROId/gU7jzKbIlUnQrG1/atudadxEsuBn8IS/RLOUVznOvmibSMa5tt6NPFH+Th0bV5TTNirqFk6rgHGE3ueuJ0cUjF2TXD5IFHl3arWmBz25rDpcE24eHuJB3u9AvAi5NzcBznxzopCh/vt1CNhMy4hwo0RCDzDoqV1pU/1poii5+6Zk0OzGzz6nhqSx/o/bGUn2Wje0tokCbJo+0pWtuMWowpnDY3Ll1D68KlgG/ThcEmyNGQJk0szXtP19tSZn1NfevwXvmwIVGbj6KIkv0k+F4uWsyBR7xdqy22v0bATQ0iPGD8fg41JhiWFsWiRLrzNRKxWYrjMAZJjtjwAJHmWX+SSXV0RU7Vp9BPC5ogo7iIaziCYTz2s+rINL9rGLJSrZWs1t7j+9IjQxRBcY8vQjIpNeRUWvVe3KqzA/hX3a4Z1+/dn6a/g="><!-- 위에서 업체정보를 암호화 한 데이타입니다. -->
            <input type="hidden" name="enc_data" value=" AgAFQkMyODPKKwX891PG60DegItlJFrNyLHyezcJaaiRUDnciaGRMpad1cSi2Gb9YSvL3yQ7CLIeGKLWIVfROId/gU7jzKbIlUnQrG1/atudadxEsuBn8IS/RLOUVznOvmibSMa5tt6NPFH+Th0bV5TTNirqFk6rgHGE3ueuJ0cUjF2TXD5IFHl3arWmBz25rDpcE24eHuJB3u9AvAi5NzcBznxzopCh/vt1CNhMy4hwo0RCDzDoqV1pU/1poii5+6Zk0OzGzz6nhqSx/o/bGUn2Wje0tokCbJo+0pWtuMWowpnDY3Ll1D68KlgG/ThcEmyNGQJk0szXtP19tSZn1NfevwXvmwIVGbj6KIkv0k+F4uWsyBR7xdqy22v0bATQ0iPGD8fg41JhiWFsWiRLrzNRKxWYrjMAZJjtjwAJHmWX+SSXV0RU7Vp9BPC5ogo7iIaziCYTz2s+rINL9rGLJSrZWs1t7j+9IjQxRBcY8vQjIpNeRUWvVe3KqzA/hX3a4Z1+/dn6a/g=">
        </form>
    </div>
</div>
<!-- end Contents div -->

<!-- custom bottom js -->
<th:block layout:fragment="bottomScript">
    <script type="text/javascript" th:src="@{/js/views/web/drill/web-drill.js}"></script>
</th:block>

</html>